.mainBlock {
    font-family: 'Merriweather', serif;
    border: 1px solid gray;
    border-radius: 7px;
    padding: 15px;
    margin: 20px auto;
    max-width: 800px;
    margin-bottom: 0;
}
li {
    list-style: none;
    color: gray;
    font-size: 11px;
}

.description {
    padding: 0;
    text-transform: capitalize;
}
.location {
    font-size: 13px;
    font-weight: normal;
    opacity: 50%;
    margin-bottom: 10px;
}
.currentTime {
font-size: 15px;
font-weight: bold;
}
.currentDay {
    font-size: 15px;
    font-weight: bold;
}
.sun-main {
    max-width: 100px;
    display: block;
}
.sun {
    max-width: 60px;
    display: block;
}
.temp {
    font-size: 40px;
}
.position {
    column-count: 5;
}
.unit {
    position: relative;
    top: -12px;
}
.cloudy {
    max-width: 50px;
    display: block;
}
.degrees {
    font-size: 20px;
    font-weight: bold;
}
.city {
    text-decoration: underline;
    font-size: 14px;
    color: rgb(0, 0, 0);
}
.rain {
    max-width: 60px;
    display: block;
}
.thunder {
    max-width: 60px;
    display: block;
}
.definition {
    color: gray;
    font-size: 14px;
    display: block;
}
.link-source {
    font-family: 'Merriweather', serif;
    font-size: 11px;
    margin-top: 0;
    text-align: center;
}
.active {
    color: black;
    cursor: default;
    text-decoration: none;
}
